In [1]:
#Explore the batter table
import sqlite3
import pandas as pd

In [11]:
cd c:\\Users\\drake\\Documents\\WGU\\Capstone\\AnalyticsCapstone\\

c:\Users\drake\Documents\WGU\Capstone\AnalyticsCapstone

In [16]:
# Connect to the database
conn = sqlite3.connect('data/processed/baseball_stats.db')

# Query the batters table
batters_df = pd.read_sql_query("SELECT * FROM batters WHERE salary > 0", conn)

# Display basic information about the dataset
print("Batters dataset shape:", batters_df.shape)
print("\nFirst few rows:")
print(batters_df)

# Display column names
print("\nColumn names:")
print(batters_df.columns.tolist())

# Close the connection
conn.close()

Batters dataset shape: (401, 35)

First few rows:
           fullName  year age salary team_name_abbr comp_name_abbr b_war  \
0       Aaron Judge  2024  32   360M            NYY             AL  10.8
1      Aaron Schunk  2024  26   172M            COL             NL   0.2
2      Abraham Toro  2024  27   172M            OAK             AL   0.6
3      Adael Amador  2024  21   172M            COL             NL  -0.4
4      Adam Frazier  2024  32  1.53M            KCR             AL   0.3
..              ...   ...  ..    ...            ...            ...   ...
396    Zach Dezenzo  2024  24  13.5M            HOU             AL  -0.2
397  Zach McKinstry  2024  29  1.65M            DET             AL   0.8
398       Zach Neto  2024  23  1.65M            LAA             AL   5.1
399      Zack Gelof  2024  24    900            OAK             AL   1.4
400      Zack Short  2024  29  5.72M            3TM            2LG  -0.1

    b_games b_pa b_ab  ... b_roba b_rbat_plus b_tb b_gidp b_hbp b_sh b_sf  \
0       158  704  559  ...   .484         223  392     22     9    0    2
1        39   98   94  ...   .260          55   31      0     0    0    0
2        94  364  337  ...   .285          85  118      4     5    2    0
3        10   36   35  ...   .210          10    7      1     0    0    0
4       104  294  262  ...   .269          64   77      0     7    3    0
..      ...  ...  ...  ...    ...         ...  ...    ...   ...  ...  ...
396      19   65   62  ...   .307          98   23      3     0    0    0
397     118  325  297  ...   .288          74  100      3     2    0    2
398     155  602  542  ...   .334         112  240     14    16    4    1
399     138  547  497  ...   .286          80  180      7     4    3    5
400      42   88   70  ...   .239          42   12      0     1    3    0

    b_ibb        pos       awards
0      20     *8D/97  AS,MVP-1,SS
1       1     45/H6D
2       1    54DH/37
3       0          4
4       0   4H9D7/53
..    ...        ...          ...
396     0      3/5DH
397     0  65H479/1D
398     1       *6/H
399     0       *4/H
400     0     5H6/4D

[401 rows x 35 columns]

Column names:
['fullName', 'year', 'age', 'salary', 'team_name_abbr', 'comp_name_abbr', 'b_war', 'b_games', 'b_pa', 'b_ab', 'b_r', 'b_h', 'b_doubles', 'b_triples', 'b_hr', 'b_rbi', 'b_sb', 'b_cs', 'b_bb', 'b_so', 'b_batting_avg', 'b_onbase_perc', 'b_slugging_perc', 'b_onbase_plus_slugging', 'b_onbase_plus_slugging_plus', 'b_roba', 'b_rbat_plus', 'b_tb', 'b_gidp', 'b_hbp', 'b_sh', 'b_sf', 'b_ibb', 'pos', 'awards']

In [ ]:
#Query the pitchers table
# Connect to the database
conn = sqlite3.connect('data/processed/baseball_stats.db')

# Query the batters table
pitchers_df = pd.read_sql_query("SELECT * FROM pitchers WHERE salary > 0", conn)

# Display basic information about the dataset
print("Pitchers dataset shape:", pitchers_df.shape)
print("\nFirst few rows:")
print(pitchers_df)

# Display column names
print("\nColumn names:")
print(pitchers_df.columns.tolist())

# Close the connection
conn.close()