In [6]:
cd c:\\Users\\drake\\Documents\\WGU\\Capstone\\AnalyticsCapstone\\

c:\Users\drake\Documents\WGU\Capstone\AnalyticsCapstone

In [ ]:
#Explore the batter table
import sqlite3
import pandas as pd
from src.data.clean_data import get_batters_df, get_pitchers_df
import matplotlib.pyplot as plt

In [8]:
#batters data
batters_df = get_batters_df()
batters_df.head()
print(batters_df.shape)

(189, 35)

In [9]:
batters_df.sort_values(by='salary', ascending=False).head()

,fullName,year,age,team_name_abbr,comp_name_abbr,b_war,b_games,b_pa,b_ab,b_r,...,b_rbat_plus,b_tb,b_gidp,b_hbp,b_sh,b_sf,b_ibb,pos,salary,efficiency_index
90,Juan Soto,2024,25,NYY,AL,7.9,157,713,576,128,...,179,328,10,4,0,4,2,*9/7DH,5.100000e+07,0.000008
0,Aaron Judge,2024,32,NYY,AL,10.8,158,704,559,122,...,223,392,22,9,0,2,20,*8D/97,4.000000e+07,0.000011
5,Alex Bregman,2024,30,HOU,AL,4.1,145,634,581,79,...,117,263,13,5,0,4,1,*5/D,4.000000e+07,0.000004
129,Mike Trout,2024,32,LAA,AL,1.1,29,126,109,17,...,136,59,0,1,0,0,1,8/D,3.554167e+07,0.000001
48,Francisco Lindor,2024,30,NYM,NL,6.9,152,689,618,107,...,141,309,7,12,0,3,0,*6/DH,3.410000e+07,0.000007

In [10]:
batters_df.sort_values(by='efficiency_index', ascending=False).head()

,fullName,year,age,team_name_abbr,comp_name_abbr,b_war,b_games,b_pa,b_ab,b_r,...,b_rbat_plus,b_tb,b_gidp,b_hbp,b_sh,b_sf,b_ibb,pos,salary,efficiency_index
0,Aaron Judge,2024,32,NYY,AL,10.8,158,704,559,122,...,223,392,22,9,0,2,20,*8D/97,4.000000e+07,0.000011
161,Shohei Ohtani,2024,29,LAD,NL,9.2,159,731,636,134,...,190,411,7,6,0,5,10,*D,2.821700e+07,0.000009
68,Jarren Duran,2024,27,BOS,AL,8.7,160,735,671,111,...,134,330,6,6,1,3,1,*87,3.850000e+06,0.000009
90,Juan Soto,2024,25,NYY,AL,7.9,157,713,576,128,...,179,328,10,4,0,4,2,*9/7DH,5.100000e+07,0.000008
120,Matt Chapman,2024,31,SFG,NL,7.1,154,647,575,98,...,129,266,13,6,0,2,3,*5/H,2.516667e+07,0.000007

In [11]:
# Scatter plot between salary and b_war for batters
plt.figure(figsize=(10, 8))
plt.scatter(batters_df['salary'], batters_df['b_war'], alpha=0.7)
plt.xlabel('Salary ($)')
plt.ylabel('Batter WAR')
plt.title('Scatter Plot of Salary vs. Batter WAR')
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
#pitchers data
pitchers_df = get_pitchers_df()
pitchers_df.head()
print(pitchers_df.shape)

In [ ]:
#Lets see the distrubtion of WAR for batters.
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
plt.hist(batters_df['b_war'], bins=20, edgecolor='black')
plt.xlabel('WAR')
plt.ylabel('Frequency')
plt.title('Distribution of Batter WAR')
plt.grid(True)
plt.show()

In [ ]:
# Now for pitchers
plt.figure(figsize=(10,6))
plt.hist(pitchers_df['p_war'], bins=20, edgecolor='black')
plt.xlabel('WAR')
plt.ylabel('Frequency')
plt.title('Distribution of Pitcher WAR')
plt.grid(True)
plt.show()

In [ ]:
# I will generate a correlation matrix for the batters
# Select only numeric columns for correlation
batters_numeric = batters_df.select_dtypes(include='number')
corr_matrix = batters_numeric.corr()

plt.figure(figsize=(12,10))
plt.imshow(corr_matrix, cmap='coolwarm', interpolation='nearest')
plt.colorbar()
plt.xticks(range(len(corr_matrix.columns)), corr_matrix.columns, rotation=90)
plt.yticks(range(len(corr_matrix.columns)), corr_matrix.columns)
plt.title('Correlation Matrix for Batters (Numeric Features)')
plt.tight_layout()
plt.show()

In [ ]:
# And the same for the pitchers
pitchers_numeric = pitchers_df.select_dtypes(include='number')
corr_matrix = pitchers_numeric.corr()

plt.figure(figsize=(12,10))
plt.imshow(corr_matrix, cmap='coolwarm', interpolation='nearest')
plt.colorbar()
plt.xticks(range(len(corr_matrix.columns)), corr_matrix.columns, rotation=90)
plt.yticks(range(len(corr_matrix.columns)), corr_matrix.columns)
plt.title('Correlation Matrix for Pitchers (Numeric Features)')
plt.tight_layout()
plt.show()

There doesn't appear to be redundant columns in either dataframe, so we will keep all the numerical features for now.