In [1]:
cd c:\\Users\\drake\\Documents\\WGU\\Capstone\\AnalyticsCapstone\\

c:\Users\drake\Documents\WGU\Capstone\AnalyticsCapstone

In [ ]:
from src.data.clean_data import get_batters_df_normalized, get_pitchers_df_normalized
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import joblib

We need to normalize our data before we can begin modeling.

In [ ]:
batters_normalized_numeric = get_batters_df_normalized()
pitchers_normalized_numeric = get_pitchers_df_normalized()

,age,b_war,b_games,b_pa,b_ab,b_r,b_h,b_doubles,b_triples,b_hr,...,b_onbase_plus_slugging_plus,b_roba,b_rbat_plus,b_tb,b_gidp,b_hbp,b_sh,b_sf,b_ibb,salary
0,0.631579,1.000000,0.974194,0.957592,0.832084,0.909091,0.899497,0.750000,0.071429,1.000000,...,1.000000,1.000000,1.000000,0.953659,0.88,0.409091,0.000,0.2,1.00,0.780833
1,0.631579,0.153226,0.625806,0.396717,0.386807,0.250000,0.261307,0.208333,0.071429,0.068966,...,0.236967,0.292763,0.270642,0.185366,0.00,0.318182,0.375,0.0,0.00,0.014345
2,0.315789,0.403226,0.909677,0.867305,0.850075,0.500000,0.713568,0.437500,0.071429,0.327586,...,0.436019,0.437500,0.467890,0.541463,0.36,0.090909,0.000,0.7,0.15,0.093445
3,0.368421,0.370968,0.877419,0.823529,0.824588,0.454545,0.773869,0.916667,0.142857,0.258621,...,0.473934,0.526316,0.513761,0.602439,0.72,0.272727,0.000,0.6,0.10,0.137278
4,0.263158,0.290323,0.619355,0.522572,0.503748,0.159091,0.427136,0.395833,0.071429,0.086207,...,0.369668,0.404605,0.408257,0.295122,0.44,0.090909,0.000,0.9,0.05,0.075513

With our data normalized, we can now train our models.

In [5]:

# Define features and target variable
# We'll predict 'b_war' using all other numeric columns except 'b_war' itself
X_batters = batters_normalized_numeric.drop(columns=['b_war'])
y_batters = batters_normalized_numeric['b_war']

# Split into train and test sets
X_train_batters, X_test_batters, y_train_batters, y_test_batters = train_test_split(
    X_batters, y_batters, test_size=0.2, random_state=42
)

# Train the linear regression model
batters_model = LinearRegression()
batters_model.fit(X_train_batters, y_train_batters)

# Make predictions on the test set
predictions = batters_model.predict(X_test_batters)

Lets evaluate the model.

In [6]:
# Calculate Mean Squared Error and R^2 Score on the test set
mse = mean_squared_error(y_test_batters, predictions)
r2 = r2_score(y_test_batters, predictions)

print(f"Mean Squared Error: {mse:.4f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error: 0.0042
R^2 Score: 0.7227

A strong model, despite the modest size of the data. Now for the pitchers.

In [7]:
# Define features and target variable
# We'll predict 'b_war' using all other numeric columns except 'b_war' itself
X_pitchers = pitchers_normalized_numeric.drop(columns=['p_war'])
y_pitchers = pitchers_normalized_numeric['p_war']

# Split into train and test sets
X_train_pitchers, X_test_pitchers, y_train_pitchers, y_test_pitchers = train_test_split(
    X_pitchers, y_pitchers, test_size=0.2, random_state=42
)

# Train the linear regression model
pitchers_model = LinearRegression()
pitchers_model.fit(X_train_pitchers, y_train_pitchers)

# Make predictions on the test set
predictions = pitchers_model.predict(X_test_pitchers)

In [8]:
# Calculate Mean Squared Error and R^2 Score on the test set
mse = mean_squared_error(y_test_pitchers, predictions)
r2 = r2_score(y_test_pitchers, predictions)

print(f"Mean Squared Error: {mse:.4f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error: 0.0057
R^2 Score: 0.8943

Even stronger than the batters!

In [9]:
# Save the batters model
joblib.dump(batters_model, "data/models/batters_model.joblib")

# Save the pitchers model
joblib.dump(pitchers_model, "data/models/pitchers_model.joblib")

['data/models/pitchers_model.joblib']